// TODO: Clean up

header .container {
	position: relative;
	background-color: #fff;
}

// Differing backgrounds
.bg-primary {
	background: #745cf9;
}

.bg-secondary {
	background: $breadcrumb-bg;
}

.bg-dark {
	background: #0e1015;
}
