//
// Backgrounds
// --------------------------------------------------

header .container {
	position: relative;
	background-color: #fff;
}

section,
footer {
	background: #fff;
	position: relative;
	overflow: hidden;
}

// Alternative backgrounds
.image-bg { // used for parallax sections
	background-color: transparent;
}

.bg-primary { // alt white background
	background: #fff;;
}

.bg-secondary { // alt light grey background
	background: $gray-lighter;
}

.bg-dark { // alt dark background
	background: $gray-darker;
	color: $gray-light;

	h1, h2, h3, h4, h5, h6 {
		color: $gray-lighter;
	}

	p, span, li {
		color: $gray-light;
	}

	a {
		color: $gray-lighter;
		transition: all 0.3s ease;

		&:hover,
		&:focus {
			color: #fff;
		}
	}

	.icon-menu {
		a {
			color: $gray-light;

			&:hover,
			&:focus {
				color: #fff;
			}
		}
	}

	.nav {
		> li {
			> a {
				&:hover,
				&:focus {
					background: $gray;
				}
			}
		}
	}
}
