//
// Call For Action Widgets
// --------------------------------------------------

.bb_home_CFA {

	section {
		padding: 60px 0;
	}

	.cfa-text {
		font-size: 2.5em;
		line-height: 45px;
		margin: 0;
	}

	.cfa-button {
		width: 100%;
	}

}