// TODO: Clean up
// TODO: Merge with included lib flexslider

.flex-direction-nav a.flex-next {
  right: 16px;
}
.flex-direction-nav a.flex-next:before, .flex-direction-nav a.flex-prev:before {
  content: "\f105";
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  color: #fff;
}
.flex-direction-nav a.flex-prev {
  left: 16px;
}
.flex-direction-nav a.flex-prev:before {
  content: "\f104";
}
.flex-direction-nav a {
  opacity: 1;
  text-shadow: none;
  color: rgba(0, 0, 0, 0);
  width: 24px;
  height: 24px;
  margin: -12px 0 0;
}
.flex-control-nav li a {
  background: none;
  border: 2px solid #0e1015;
  width: 10px;
  height: 10px;
}
@media all and (max-width: 768px) {
  .flex-direction-nav {
    display: none;
  }
}
.text-slider .flex-direction-nav li a:before {
  color: #222;
}
.image-bg .text-slider .flex-direction-nav li a:before {
  color: #fff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: .5;
}
.image-bg .text-slider .flex-direction-nav li a:hover:before {
  opacity: 1;
}
.text-slider .flex-direction-nav a.flex-prev {
  left: -60px;
}
.text-slider .flex-direction-nav a.flex-next {
  right: -60px;
}
