//
// Footer
// --------------------------------------------------

footer {

	&#colophon {
		padding: 60px 0 90px;
	}

	.back-to-top {
		position: absolute;
		right: 30px;
		bottom: 30px;
		transition: all 0.3s ease;
		opacity: 0.25;
		color: #ccc;

		&:hover,
		&:active,
		&:focus {
			opacity: 1;
		}
	}

	&.bg-dark {

		.back-to-top {
			border-color: #fff;
			border-width: 2px;
			background: transparent;

			&:hover,
			&:active,
			&:focus {
				opacity: 1;
				color: #fff;
			}
		}

	}

}
