// TODO: Clean up

.cover {
  margin: 0;
  padding: 0;
}
.cover p {
  color: #ffffff;
}
.cover:first-child .fullscreen {
  max-height: 100%;
}
@media all and (max-width: 767px) {
  .cover.fullscreen {
    height: auto;
    padding: 0;
  }
}
