// TODO: Clean up

.feature {
  margin-bottom: 24px;
}
.feature p:last-child {
  margin-bottom: 0;
}
.feature-1 i {
  display: inline-block;
  margin-bottom: 16px;
  color: #745cf9;
  font-size: 64px;
}

.page-title {
  padding: 0;
}