//
// Masonry galleries
// --------------------------------------------------

// Masonry loader
.masonry-loader {
	transition: all 0.3s ease;
	opacity: 1;
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 80px;

	&.fixed-center {
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		margin-top: -25px;
	}

	&.fadeOut {
		opacity: 0;
		max-height: 0;
		padding: 0;
		// overflow: hidden;
	}

}

// Masonry loader spinner
.spinner {
	width: 50px;
	height: 50px;
	background-color: #ccc;
	margin: 0 auto;
	display: inline-block;
	transition: all 0.3s ease;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@keyframes sk-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

// Masonry container
.masonry {
	transition: all 0.3s ease;
	opacity: 0;
	transform: translate3d(0, 100px, 0);

	&.fadeIn {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
	}

}

// Masonry items
.container .masonry-item {
	margin-bottom: 0px;
}
.masonry-item {
	max-width: 100%;

	blockquote:hover {
		background: #745cf9;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		color: #fff;
	}

}

.masonryFlyIn {
	.masonry-item {
		opacity: 0;
		transform: translate3d(0, 50px, 0);

		&.fadeIn {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
}
