// TODO: Clean up

.social-list {
  font-size: 22px;
}

// This is a small security for too long strings titles
body {
	word-wrap: break-word;
}

// Images and wp-captions should always fit and be responsive
img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
figure {
	max-width: 100%;
}