//
// Sections
// --------------------------------------------------

// Images and wp-captions should always fit and be responsive.
img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}

figure {
	max-width: 100%;
}

// Reset paddings on homepage.
.page-template-template-home-php {

	.content-area {
		padding: 0;
	}

}
