//
// Top Callout
// --------------------------------------------------

.top-callout {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	p.breadcrumb {
		padding: 0;
		margin: $line-height-computed 0;
	}

}

p.breadcrumb {
	color: $breadcrumb-color;

	span span span {
		padding: 0 0 0 5px;
	}

	a {
		padding: 0 5px 0 0;
	}
	
	.breadcrumb_last {
		color: $breadcrumb-active-color;
	}

}

.top-callout-present {
	padding-top: 20px;
}