.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

// /* Here some needed widget styles
//  * Most widgets are adapted in the file bootstrap-wp.js - and REALLY easy to modify! ;) */
// .widget_nav_menu ul.sub-menu li, .widget_pages ul.children li { padding-left: 15px; }
