/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

// Main navigation
#site-navigation {

	@media (min-width: $grid-float-breakpoint) {

		ul.nav {

			// Enable dropdown on hover, when not in 'mobile mode'
			// And smooth animate
			> li.dropdown > ul {
				display: block;
				transition: all 0.25s ease;
				opacity: 0;
				visibility: hidden;
				top: 40px;
			}
			> li.dropdown:hover > ul {
				opacity: 1;
				visibility: visible;
				top: 50px;
			}

			ul.dropdown-menu form.form {
				min-width: 260px;
				margin: 10px 15px;
			}
		}

	}

}

// Social menu
#social { 

	background: transparent; 
	float: right; 

	li{
		display: inline-block;
	}
	li,
	ul {
		border: 0!important;
		list-style: none;
		padding-left: 0;
		text-align: center;
	}
	.social_icon span { 
		display: none; 
	}
	li a[href*="twitter.com"] .fa:before,
	.fa-twitter:before {
		content: "\f099"
	}
	li a[href*="facebook.com"] .fa:before,
	.fa-facebook-f:before,
	.fa-facebook:before {
		content: "\f09a"
	}
	li a[href*="github.com"] .fa:before,
	.fa-github:before {
		content: "\f09b"
	}
	li a[href*="/feed"] .fa:before,
	.fa-rss:before {
		content: "\f09e"
	}
	li a[href*="pinterest.com"] .fa:before,
	.fa-pinterest:before {
		content: "\f0d2"
	}
	li a[href*="plus.google.com"] .fa:before,
	.fa-google-plus:before {
		content: "\f0d5"
	}
	li a[href*="linkedin.com"] .fa:before,
	.fa-linkedin:before {
		content: "\f0e1"
	}
	li a[href*="youtube.com"] .fa:before,
	.fa-youtube:before {
		content: "\f167"
	}
	li a[href*="instagram.com"] .fa:before,
	.fa-instagram:before {
		content: "\f16d"
	}
	li a[href*="flickr.com"] .fa:before,
	.fa-flickr:before {
		content: "\f16e"
	}
	li a[href*="tumblr.com"] .fa:before,
	.fa-tumblr:before {
		content: "\f173"
	}
	li a[href*="dribbble.com"] .fa:before,
	.fa-dribbble:before {
		content: "\f17d"
	}
	li a[href*="skype.com"] .fa:before,
	.fa-skype:before {
		content: "\f17e"
	}
	li a[href*="foursquare.com"] .fa:before,
	.fa-foursquare:before {
		content: "\f180"
	}
	li a[href*="vimeo.com"] .fa:before,
	.fa-vimeo-square:before {
		content: "\f194"
	}
	li a[href*="spotify.com"] .fa:before,
	.fa-spotify:before {
		content: "\f1bc"
	}
	li a[href*="soundcloud.com"] .fa:before,
	.fa-soundcloud:before {
		content: "\f1be"
	}
	
}
